Desktop.ini
ot4xb.sdf
*.VC.opendb
*.ppo
*.bak
*.idb                                      
*.disco	
*.idb	
*.ilk	
.map
.obj
.o
.pch	
.sbr	
.suo	
_ot4xb_/.vs/ot4xb/v14/.suo
*.ipch
v15
.vs
/_ot4xb_/Release/
/_ot4xb_/Debug/
/_ot4xb_/Packages/
/_ot4xb_/source/Debug/
/_ot4xb_/source/Release/
